<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ares.Bll.Properties.Settings.PhoneConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Phone;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Dec0de.Bll.Properties.Settings.PhoneConnectionString"
            connectionString="Data Source=BLPHONEPC\SQLEXPRESS;Initial Catalog=PhoneDecode;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>